
<div>
    <dl>Name:</dl>
    <dd><%= @candidate.first_name%> <%= @candidate.last_name%></dd>

    <dl>Email:</dl>
    <dd><%= @candidate.email %></dd>

    <dl>Bio:</dl>
    <dd><%= @candidate.bio %></dd>

    <dl>Status:</dl>
    <dd><%= @candidate_jobs.status %></dd>

    <dl>Phone:</dl>
    <dd><%= @candidate.phone %></dd>

    <dl>CPF:</dl>
    <dd><%= @candidate.cpf %></dd>
    
</div>