


<h1>Acompanhe candidatura</h1>

    <dl>Vaga:</dl>
    <dd><%= @job.job.title %></dd>

    <dl>Descrição:</dl>
    <div><%= @job.job.description %></div>

    <dl>Requisitos:</dl>
    <dd><%= @job.job.requirements %></dd>

    <dl>Companhia:</dl>
    <dd><%= @job.job.company.name %></dd>

    <dl>Status:</dl>
    <dd><%= @job.status %></dd>

    <h2>Feedback:</h2>

    <dl>Mensagem:</dl>
    <% if @message.any? %>
        <% @message.each do |m| %>
            <div><strong><%= m.sender %>:</strong> <%= m.sent_message %></div>
        <% end %>
    <% end %>

<% if @job.status = 'Proposta Enviada'%>
    <dl>Remuneração:</dl>
    <dd><%= @job.wage %></dd>

    <dl>Data de início:</dl>
    <dd><%= I18n.localize(@job.beginning_date, format: :date, default: '') %></dd>
<% end %>

<%= form_with model: Message.new do |f| %>
    <%= f.hidden_field :candidate_job, value: @job.id %>
    <%= f.hidden_field :sender, value: 'candidate' %>
    <%= f.label :sent_message, 'Mensagem'%>
    <%= f.text_area :sent_message, size: "60x10" %>


    <%= f.label :status %>
    <%= f.select :status, [["Aceitar Proposta", "Proposta Aceita"], 
                        ["Rejeitar Proposta", "Proposta Rejeitada"], 
                        ["Confirmar Data de Início", "Data de Início Confirmada"], 
                        ["Rejeitar Data de Início", "Data de Início Rejeitada"]] %>

    <%= f.submit 'Enviar Mensagem'%>
<% end %>

