


<h1>Acompanhe candidatura</h1>

    <dl>Job:</dl>
    <dd><%= @job.job.title %></dd>

    <dl>Description:</dl>
    <div><%= @job.job.description %></div>

    <dl>Requirements:</dl>
    <dd><%= @job.job.requirements %></dd>

    <dl>Company:</dl>
    <dd><%= @job.job.company.name %></dd>

    <dl>Status:</dl>
    <dd><%= @job.status %></dd>

    <h2>Feedback:</h2>

    <dl>Message:</dl>
    <% if @message.any? %>
        <dd><%= @message.last.sent_message %></dd>
    <% end %>

<% if @job.prop_send!%>
    <dl>Wage:</dl>
    <dd><%= @job.wage %></dd>

    <dl>Beginning_date:</dl>
    <dd><%= I18n.localize(@job.beginning_date, format: :date, default: '') %></dd>
    <dd><%# @job.beginning_date %></dd>
<% end %>

<%= form_with model: Message.new do |f| %>
    <%= f.hidden_field :candidate_job, value: @job.id %>
    <%= f.hidden_field :sender, value: 'candidate' %>
    <%= f.label :sent_message %>
    <%= f.text_area :sent_message, size: "60x20" %>

    <%= fields_for :candidate_job do |s| %>
        <%= s.collection_radio_buttons :status, CandidateJob.statuses, :first, :first %>
    <% end %>

    <%= f.submit 'Submit' %>
<% end %>


<%= form_with model: @job, url: candidate_job_path(@job), method: "patch" do |f| %>
    <%= f.label :status %>
    <%= f.collection_radio_buttons :status, CandidateJob.statuses, :first, :first %>

    <%= f.submit %>
<% end %>

