<div><%= flash[:notice] %></div>
<% if @job.errors.any? %>
    <div class="alert">
        <p>Não foi possível prosseguir com a ação.</p>
        <p>Confira os erros abaixo:</p>
        <ul>
            <% @job.errors.each do |m|%>
                <li><%= m.full_messages %></li>
            <% end %>
        </ul>
    </div>
<% end %>

<dl>
    <dt>Title:</dt>
    <dd><%= @job.title %></dd>

    <dt>Description:</dt>
    <dd><%= @job.description %></dd>
    
    <dt>Wage:</dt>
    <dd><%= @job.wage %></dd>

    <dt>Level:</dt>
    <dd><%= @job.level %></dd>

    <dt>Requirements:</dt>
    <dd><%= @job.requirements %></dd>

    <dt>Quantity:</dt>
    <dd id="quantity"><%= @job.quantity %></dd>

    <dt>Date:</dt>
    <dd><%= I18n.localize(@job.date, format: :date)%></dd>


    <dt>Company:</dt>
    <dd><%= @job.company.name %></dd>

</dl>

<%= link_to 'Editar', edit_job_path(@job) %>
<%= link_to 'Candidatar-se', apply_job_path(@job), method: :post %>
<%= link_to 'Analisar-candidaturas', applicants_job_path(@job)%>